body { 
    background-image: url(.././/src/images/SpaceBackground.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.completed {
  text-decoration: line-through;
  text-decoration-color: purple;
  text-decoration-thickness: .2rem;
}

